@import "bootstrap/scss/bootstrap";

.container {
    width: 55%;
    margin-top: 50px;
    padding-right: 38px;
    padding-left: 35px;
}

.container_edit {
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  padding-right: 30px;
  padding-left: 35px;
}

label {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 18px;
    font-family: ui-monospace;
    font-weight: 600;
    }

  input {
    width: 400px;
    margin-bottom: 15px;
  }

  .title {
    font-size: 25px;
    font-weight: 500;
    color: #184d77;
    text-decoration: none;
  }

    .content {
    font-size: 18px;
    color: grey;
    font-weight: 200;
    margin-bottom: 25px;
  }

  li {
    list-style: none;
  }


